* {
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
/* .row{
  display: grid;
  gap: 20px;
  grid-template-columns: 50% 50%;
} */

.input_wrapper{
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}